<?xml version="1.0"?>
<launch>
    <!-- ============================ SETTINGS ============================= -->


    <!-- ======================== END OF SETTINGS ========================== -->

    <node 
    pkg="iona_stability" 
    type="forward_zmp.py"
    name="forward_zmp" 
    output="screen">
    </node>     

</launch>