<?xml version="1.0"?>
<launch>
    <!-- ============================ SETTINGS ============================= -->

    <arg 
    name="controller_side" 
    default="left"/>

    <!-- ======================== END OF SETTINGS ========================== -->

  
    <node 
    pkg="iona_stability" 
    type="inverse_zmp.py"
    name="inverse_zmp" 
    output="screen">
        <param 
        name="controller_side" 
        value="$(arg controller_side)"/>
    </node>     
 
</launch>