<?xml version="1.0"?>
<launch>
    <!-- ============================ SETTINGS ============================= -->

    <arg 
    name="left_arm_usage" 
    default="0"/>

    <arg 
    name="right_arm_usage" 
    default="1"/>

    <arg 
    name="chest_usage" 
    default="1"/>

    <arg 
    name="stand_usage" 
    default="1"/>

    <arg 
    name="left_arm_name" 
    default="my_gen4"/>

    <arg 
    name="right_arm_name" 
    default="my_gen3"/>

    <!-- ======================== END OF SETTINGS ========================== -->

      
    <node 
    pkg="iona_stability" 
    type="iona_com.py"
    name="iona_com" 
    output="screen">
        <param 
        name="left_arm_usage" 
        value="$(arg left_arm_usage)"/>
        <param 
        name="right_arm_usage" 
        value="$(arg right_arm_usage)"/>
        <param 
        name="chest_usage" 
        value="$(arg chest_usage)"/>
        <param 
        name="stand_usage" 
        value="$(arg stand_usage)"/>
        <param 
        name="left_arm_name" 
        value="$(arg left_arm_name)"/>
        <param 
        name="right_arm_name" 
        value="$(arg right_arm_name)"/>
    </node>     
    
</launch>